<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registro Hincha</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/agregar-hincha.css">
</head>
<body>
    <h1>Llena los siguientes datos para poder registrarte!</h1>
    <form id="hinchas" class="hincha" onsubmit="return validadorFormulario()" action="agregar-hincha" method="post" enctype="multipart/form-data">
        <div id="deporte" class="campo">
            <label for="deportes">Selecciona su/s deporte/s favorito/s (maximo 3):</label>
            <select id="deportes" name="deportes" multiple>
                {% for deporte in deportes %}
                <option value="{{deporte[0]}}">{{deporte[0]}}</option>
                {% endfor %}
            </select>
        </div>
        <div id="error-deportes" class="error"></div>
        <div id="regiones" class="campo">
            <label for="region">Region de residencia:</label>
            <select id="region" name="region">
                <option value="none">---</option>
                {% for region in regiones %}
                <option value="{{region[0]}}">{{region[0]}}</option>
                {% endfor %}
                <!-- <option value="arica">Region de Arica y Parinacota</option>
                <option value="tarapaca">Region de Tarapaca</option>
                <option value="antofagasta">Region de Antofagasta</option>
                <option value="atacama">Region de Atacama</option>
                <option value="coquimbo">Region de Coquimbo</option>
                <option value="valparaiso">Region de Valparaiso</option>
                <option value="metropolitana">Region Metropolitana</option>
                <option value="ohiggins">Region de O'Higgins</option>
                <option value="maule">Region del Maule</option>
                <option value="nuble">Region de Ñuble</option>
                <option value="biobio">Region del Biobio</option>
                <option value="araucania">Region de La Araucania</option>
                <option value="rios">Region de Los Rios</option>
                <option value="lagos">Region de Los Lagos</option>
                <option value="aysen">Region de Aysen</option>
                <option value="magallanes">Region de Magallanes</option> -->
            </select>
        </div>
        <div id="error-region" class="error"></div>
        <div id="comunas" class="campo">
            <label for="comuna">Comuna de residencia:</label>
            <select id="comuna" name="comuna">
                <!-- Opciones se agregarán dinámicamente aquí -->
                <option value="vacio">---</option>
            </select>
        </div>
        <div id="error-comuna" class="error"></div>
        <div id="transportes" class="campo">
            <label for="transporte">Medio de transporte:</label>
            <select id="transporte" name="transporte">
                <option value="none">---</option>
                <option value="Particular">Particular</option>
                <option value="Locomocion Publica">Locomocion Publica</option>
            </select>
        </div>
        <div id="error-transporte" class="error"></div>
        <div id="Nombre">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre">
        </div>
        <div id="error-nombre" class="error"></div>
        <div id="mail">
            <label for="email">Email de contacto:</label>
            <input type="text" id="email" name="email">
        </div>
        <div id="error-email" class="error"></div>
        <div id="telefono" class="campo">
            <label for="celular">Numero celular de contacto(Ej: +56912345678):</label>
            <input type="text" id="celular" name="celular">
        </div>
        <div id="error-celular" class="error"></div>
        <div id="comits" class="campo">
            <label for="comentarios">Comentarios adicionales (opcional):</label>
            <textarea id="comentarios" name="comentarios" rows="4" cols="50"></textarea>
        </div>
        <div id="error-comentarios" class="error"></div>
        
        <div class="marco">    
            <input type="submit" id="registrar-hincha" value="Registrar Hincha">
            <button class="volver" onclick="redirigir()">Volver</button>
        </div>
    </form>     
    
    <div id="modal" class="modals" style="display: none;">
        <div class="modal-contenido">
            <span class="close">&times;</span>
            <p>¿Confirma el registro de este hincha?</p>
            <button id="confirmar-registro" onclick="enviarFormulario()">Si, confirmo</button>
            <button id="cerrar-modal" onclick="cerrarModal()">No, quiero volver al formulario</button>
        </div>
    </div>

    <script src="/static/js/agregar-hincha.js"></script>
</body>
</html>