<!DOCTYPE html>
<html lang="en">
<head>
    <title>Informacion Artesano</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/informacion-artesano.css">
</head>
<body>
    {}
    <div id="{{nombre_id}}" class="contenido">
        <h1>Informacion Artesano {{nombre}}</h1>
        <p>Region de residencia: {{region}}</p>
        <p>Comuna de residencia: {{comuna}}</p>
        <p>Tipo de artesanias: {{artesania}}</p>
        <div class="contenedor-imagen">
            <label class="foto1">Fotos:</label>
            {% for fot in foto %}
            <img class="fotos" src="../{{fot[0]}}" alt="artesania" width="120" height="120" onclick="cambiarTamaño(this)">
            {% endfor %}
        </div>
        <p>Email de contacto: {{email}}</p>
        <p>Telefono: {{celular}}</p>
        <button class="volver" onclick="redirigir()">Volver</button>
    </div>
    <script src="/static/js/informacion-artesano.js"></script>
</body>
</html>