<!DOCTYPE html>
<html lang="es">
<head>
    <title>Informacion</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/informacion-hincha.css">
</head>
<body>
    <div id="{{nombre}}" class="contenido">
        <h1>Informacion hincha {{nombre}}</h1>
        <p>Deportes favoritos: {{deporte}}</p>
        <p>Region de residencia: {{region}}</p>
        <p>Comuna de residencia: {{comuna}}</p>
        <p>Medio de transporte: {{transporte}}</p>
        <p>Email de contacto: {{email}}</p>
        <p>Telefono: {{celular}}</p>
        <button class="volver" onclick="redirigir()">Volver</button>
    </div>
    <script src="/static/js/informacion-hincha.js"></script>
</body>
</html>