<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ver artesanos</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/ver-artesanos.css">
</head>
<body>
    <h1>Estos son los artesanos registrados en la pagina</h1>
    {% for pagina in paginas %}
    <table class="tabla">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Comuna</th>
                <th>Tipo Artesanias</th>
                <th>Fotos</th>
            </tr>
        </thead>
        <tbody>
            {% for nombre, celular, comuna, artesania, foto, id in paginas[pagina] %}
            <tr>
                <td id="{{id}}">
                    <a href="{{url_for('informacion_artesanos', artesano_id=id)}}">{{nombre}}<a>
                </td>
                <td>
                    <a href="{{url_for('informacion_artesanos', artesano_id=id)}}">{{celular}}</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_artesanos', artesano_id=id)}}">{{comuna}}</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_artesanos', artesano_id=id)}}">{{artesania}}</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_artesanos', artesano_id=id)}}">
                    <img src="{{foto}}" alt="{{artesania}}" width="120" height="120">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}

    <button class="volver" onclick="redirigir()">Volver</button>
    
    <script>
        const redirigir = () => {
        window.location.href = "{{url_for('index')}}";
        }
    </script>
</body>
</html>