<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ver hinchas</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/ver-hinchas.css">
</head>
<body>
    <h1>Estos son los hinchas registrados en la pagina</h1>
    <table class="tabla">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Comuna</th>
                <th>Deportes</th>
                <th>Modo Transporte</th>
                <th>Numero celular</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='juan')}}">Juan Perez</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='juan')}}">Cerro Navia</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='juan')}}">Futbol, Natacion, Voleibol playa</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='juan')}}">Particular</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='juan')}}">+56987654321</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='luis')}}">Luis Marin</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='luis')}}">Til Til</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='luis')}}">Tenis, Tenis de mesa, Futbol</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='luis')}}">Transpote publico</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='luis')}}">+56982184672</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='anita')}}">Anita la Huerfanita</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='anita')}}">La Florida</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='anita')}}">Clavados, Gimnasia ritmica, Atletismo</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='anita')}}">Transpote publico</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='anita')}}">+56998765432</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='bryan')}}">Bryan Silva</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='bryan')}}">Colina</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='bryan')}}">Polo acuatico, Futbol, Tenis</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='bryan')}}">Transpote publico</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='bryan')}}">+56912345678</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='armando')}}">Armando Casas</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='armando')}}">Puente Alto</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='armando')}}">Balonmano</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='armando')}}">Particular</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_hinchas', name='armando')}}">+56987654321</a>
                </td>
            </tr>
        </tbody>
    </table> 

    <button class="volver" onclick="redirigir()">Volver</button>

    <script>
        function redirigir(){
            window.location.href = "/";
        }
    </script>
</body>
</html>