<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ver artesanos</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/ver-artesanos.css">
</head>
<body>
    <h1>Estos son los artesanos registrados en la pagina</h1>
    <table class="tabla">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Comuna</th>
                <th>Tipo Artesanias</th>
                <th>Fotos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="Juan">
                    <a href="informacion-artesano.html?contenido=juan">Juan Perez</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=juan">+56987654321</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=juan">Cerro Navia</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=juan">Madera</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=juan">
                    <img src="../image/madera.jpg" alt="Madera" width="120" height="120">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="informacion-artesano.html?contenido=luis">Luis Marin</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=luis">+56982184672</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=luis">Til Til</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=luis">Tejidos, Madera</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=luis">
                    <img src="../image/mimbre.jpg" alt="Mimbre" width="120" height="120">
                    <img src="../image/madea2.jpg" alt="Madera" width="120" height="120">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="informacion-artesano.html?contenido=anita">Anita la Huerfanita</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=anita">+56998765432</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=anita">La Florida</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=anita">Cuero</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=anita">
                    <img src="../image/cuero.jpg" alt="Cuero" width="60" height="60">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="informacion-artesano.html?contenido=bryan">Bryan Silva</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=bryan">+56912345678</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=bryan">Colina</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=bryan">Marmol</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=bryan">
                    <img src="../image/marmol.jpg" alt="Marmol" width="120" height="120">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="informacion-artesano.html?contenido=armando">Armando Casas</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=armando">+56987654321</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=armando">Puente Alto</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=armando">Otro tipo</a>
                </td>
                <td>
                    <a href="informacion-artesano.html?contenido=armando">
                    <img src="../image/artesania.jpg" alt="Tejidos" width="120" height="120">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="volver" onclick="redirigir()">Volver</button>
    
    <script>
        const redirigir = () => {
        window.location.href = "index.html";
        }
    </script>
</body>
</html>