<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ver artesanos</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/ver-artesanos.css">
</head>
<body>
    <h1>Estos son los artesanos registrados en la pagina</h1>
    <table class="tabla">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Comuna</th>
                <th>Tipo Artesanias</th>
                <th>Fotos</th>
            </tr>
        </thead>
        <tbody>
            {% for artesano in elementos%}
            <tr>
                <td id="{{artesano[5]}}">
                    <a href="{{url_for('informacion_artesanos', artesano_id=artesano[5])}}">{{artesano[0]}}</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_artesanos', artesano_id=artesano[5])}}">{{artesano[1]}}</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_artesanos', artesano_id=artesano[5])}}">{{artesano[2]}}</a>
                </td>
                <td>
                    <a href="{{url_for('informacion_artesanos', artesano_id=artesano[5])}}">{{artesano[3]}}</a>
                </td>
                <td>
                    {% for foto in artesano[4] %}
                    <a href="{{url_for('informacion_artesanos', artesano_id=artesano[5])}}">
                    <img src="{{foto[0]}}" alt="artesania" width="120" height="120">
                    </a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="botonera">
        <div class="paginacion">
            {% if pagina_actual > 1 %}
                <button class="boton" onclick="anterior()">Anterior</button>
            {% endif %}

            <button class="boton" onclick="pagina()">{{ pagina_actual }}</button>

            {% if pagina_actual < num_paginas %}
                <button class="boton" onclick="siguiente()">Siguiente</button>
            {% endif %}
            <button class="boton" onclick="redirigir()">Volver</button>
        </div>
    </div>
    
    <script>
        const redirigir = () => {
        window.location.href = "{{url_for('index')}}";
        }
        const anterior = () => {
        window.location.href = "?pagina={{ pagina_actual - 1 }}";
        }
        const pagina = () => {
        window.location.href = `?pagina=${pag}`;
        }
        const siguiente = () => {
        window.location.href = "?pagina={{ pagina_actual + 1 }}";
        }
    </script>
</body>
</html>